@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* scrollbar-width: none; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ----------------Homepage 1st Container---------------- */

#container {
  margin-top: 24px;
  overflow: hidden;
  background-color: pink;
}

.wrap {
  width: auto;
  display: flex;
  justify-content: space-between;
}

.push {
  margin-right: auto;
}

.doglogo {
  width: 130px;
  height: 105px;
  margin-left: 0;
}

.responsive_nav {
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  max-height: 0;
  overflow: hidden;
}

.responsive_nav.show {
  max-height: 1000px;
}

.hamburger_menu {
  display: none;
}

@media (max-width: 640px) {

  .login,
  .signup {
    display: none;
  }

  .hamburger_menu {
    display: block;
    padding: 20px;
    cursor: pointer;
    background: transparent;
    border: none;
    color: #FD4B1D;
    font-size: 1.8rem;
  }
}

@media (min-width: 640px) {

  .login,
  .signup {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}

.login {
  background: #FD4B1D;
  border-radius: 42px;
  width: 160px;
  height: 54px;
  margin-right: 20px;
  margin-top: 24px;
  border-color: #FD4B1D;
  color: white;
  border: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.signup {
  width: 160px;
  height: 54px;
  background: #FD4B1D;
  border-radius: 42px;
  margin-right: 20px;
  margin-top: 24px;
  border-color: #FD4B1D;
  color: white;
  border: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}


/* ----------------Homepage 2nd Container---------------- */

.wrap2 {
  margin-top: 80px;
}

.mainTitle {
  margin-top: 80px;
  text-align: left;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 58px;
  line-height: 87px;
  color: #424242;
}

.title-description {
  margin-top: 30px;
  text-align: left;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #424242;
}

.buttonPadding {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  width: 396px;
  height: 60px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.browseButton {
  width: 183px;
  height: 60px;
  left: 122px;
  top: 524px;
  background: #FD4B1D;
  border-radius: 50px;
  border: 0;
  color: white;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.learnMoreButton {
  box-sizing: border-box;
  width: 183px;
  height: 60px;
  border: 1px solid rgba(253, 75, 29, 0.9);
  border-radius: 50px;
  color: rgba(253, 75, 29, 0.9);
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  background-color: white;
}

.main-Image {
  width: 467px;
  height: 500px;
  border-radius: 250px;
  object-fit: cover;
  float: right;
}


/* ----------------Homepage 3rd Container---------------- */

.wrap3 {
  margin-top: 127px;
}

.sub-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 87px;
  color: #424242;
}

.sub-title {
  font-size: 36px;
}

.sub-description {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  color: #424242;
}


/* ----------------Homepage 4th Container---------------- */

.wrap4 {
  margin-top: 203px;
}

.sub-title2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 87px;
  color: #424242;
}

#dogImages-padding {
  margin-top: 30px;
  display: row;
  gap: 136px;
}

.dog-Image {
  width: 266px;
  height: 247px;
  border-radius: 250px;
}

.dog-Image2 {
  width: 266px;
  height: 247px;
  border-radius: 250px;
}

.dog-Image3 {
  width: 266px;
  height: 247px;
  border-radius: 250px;
}

/* .dog-Image-Border {
  border: black solid 1px;
}

.dog-Image-Border2 {
  border: black solid 1px;
}

.dog-Image-Border3 {
  border: black solid 1px;
} */

.dog-Description {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  color: #424242;
  margin-top: 30px;
}

.dog-Description2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  color: #424242;
  margin-top: 30px;
}

.dog-Description3 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  color: #424242;
  margin-top: 30px;
}


/* ----------------Homepage 5th Container---------------- */

.wrap5 {
  margin-top: 290px;
}

.footer {
  background: #112A41;
  height: 355px;
}

#footer-padding {
  margin-left: 122px;
  margin-right: 122px;
}

.footer-border {
  margin-top: 52px;
  height: 209px;
}

.footer-border2 {
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-align: right;
  gap: 20px;
}

.footer-border3 {
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-align: right;
  gap: 20px;
}

a {
  gap: 20px;
  color: white;
  text-decoration: none;
}

.footer-mainBorder {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
}

.footer-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
}

.footer-logo {
  width: 58px;
  height: 45px;
}

.footer-subtitleBorder {
  margin-top: 12px;
}

.footer-lorem {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-align: justify;
}

.footer-socialMedia {
  width: 140.67px;
  height: 24px;
  display: flex;
  gap: 18px;
}

.fa {
  padding: 5px;
  font-size: 12px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

hr {
  background: #FFFFFF;
  border: 3px solid #FFFFFF;
  transform: rotate(-180deg);
  margin-left: 135px;
  margin-right: 135px;
  margin-top: 32px;
}

/* ----------------Homepage Responsive---------------- */

@media (max-width: 800px) {

  .mainTitle {
    font-size: 32px;
    line-height: 50px;
    margin: 10px;
  }

  .title-description {
    font-size: 16px;
    margin: 10px;
    margin-top: 30px;
  }

  .browseButton {
    height: 50px;
  }

  .learnMoreButton {
    height: 50px;
  }

  .buttonPadding {
    width: 78vw;
    margin: 10px;
    margin-top: 30px;
    display: row;
    gap: 10px;
  }

  /* styles to apply when the viewport is 768px or smaller */
  .main-Image {
    margin-top: 20px;
    width: 93vw;
    max-height: 360px;
    border-radius: 250px;
    object-fit: cover;
    float: right;
  }

  .sub-title {
    font-size: 32px;
  }

  .sub-description {
    font-size: 16px;
    margin: 10px;
  }

  .sub-title2 {
    font-size: 32px;
    margin-top: -40px;
  }

  .dog-Description {
    font-size: 16px;
  }

  .dog-Description2 {
    font-size: 16px;
  }

  .dog-Description3 {
    font-size: 16px;
  }

  #dogImages-padding {
    margin-top: 30px;
    display: column;
    gap: 60px;
  }

  .footer {
    height: auto;
  }

  .footer-title {
    font-size: 32px;
  }

  #footer-padding {
    margin-left: 12px;
    margin-right: 12px;
  }

  .footer-border2 {
    text-align: left;
  }

  .footer-border3 {
    text-align: left;
  }

  .footer-socialMedia {
    margin-top: 28px;
    width: 140.67px;
    height: 24px;
    gap: 18px;
  }

  .horizontal-line {
    background: #FFFFFF;
    border: 3px solid #FFFFFF;
    transform: rotate(-180deg);
    margin-left: 24px;
    margin-right: 24px;
  }
}

/* Bootstrap css for login page */
.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 1000px) {
  .gradient-form {
    height: 100vh !important;
  }
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}

@media screen and (min-device-width : 768px) {
  .my-5 {
    /* border: solid 2px black; */
    padding-top: 100px;
  }

  #dogHome {
    margin-top: -85px;
  }
}

/*----------------LoginForm and SignupForm Page Buttons----------------*/

.loginButton,
.signupButton {
  color: white;
  padding: 6px 12px;
  line-height: 32px;
  border-radius: 4px;
  border-color: orange;
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.loginButton:active,
.signupButton:active {
  color: white;
  padding: 6px 12px;
  line-height: 32px;
  border-radius: 4px;
  border-color: orange;
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}


/*----------------Dog breed dropdown menus----------------*/

.dogBreed-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 87px;
  color: #424242;
  margin-top: 87px;
}

#option-wrap {
  width: 770px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border: solid black 1px;
  margin-top: 65px;
}

#dropdownmenu {
  width: 345px;
  background: #FD4B1D;
  border: 1px solid #CED4EA;
  color: white;
  height: 48px;
  text-align: center;

}

.randomImageButton {
  width: 345px;
  background: #FD4B1D;
  border: 1px solid #CED4EA;
  color: white;
  height: 48px;
  margin-left: 0;
  text-align: center;
}

.dogImages {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* 3 columns, each taking */
  border: black solid 1px;
}